:root {
  --main-border-radius: 1rem;
  --main-color: rgba(0, 50, 98, 0.5);
}
h1 {
  text-align: center;
}

body {
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow: scroll;
}

#container {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
}

.main-box {
  background-color: #ecf0f3;
  border-radius: var(--main-border-radius);
  box-shadow: -7px -7px 10px white, 7px 7px 10px #cbced1;
}

.hidden {
  display: none;
}

.form-wrapper {
  position: relative;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.col {
  flex-direction: column;
  padding: 0.4rem;
  display: flex;
  min-height: 47rem;
  min-width: 28rem;
  height: 100%;
  max-height: 50rem;
  max-width: 35rem;
}

.board-col {
  max-width: 50rem;
}

.row {
  margin: 0.4rem;
  flex: 1 0 0;
}
.w40 {
  flex: 3.5 0 0;
}
.w30 {
  flex: 4 0 0;
}

.github-wrapper {
  background-color: rgb(66, 63, 59);
  color: rgb(248, 249, 250);
}

.github-wrapper {
  display: flex;
  width: 100%;
  /* height: 100%; */
  max-height: 23rem;
}

.notice-wrapper {
  flex-direction: column;

  padding: 1rem;
  width: 100%;
  /* height: 100%; */
  height: 23rem;
  max-height: 23rem;
}
