* {
  box-sizing: border-box;
}

body {
  min-width: 25rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  min-height: 100vh;
  /* height: 100%; */
  background: whitesmoke;
  width: 100%;
  flex-wrap: wrap;
}
.col {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  min-height: 47rem;
  min-width: 22rem;
  max-height: 100vh;
}

.login {
  margin: 0.4rem;
  border: 1px solid black;
  flex: 1 0 0;
}

.row {
  border: 1px solid black;
}
.w40 {
  flex: 3.5 0 0;
}
.w30 {
  flex: 4 0 0;
}
.h50 {
  flex: 1 0 0;
  margin: 0.4rem;
}
