#toggle-wrapper {
  display: flex;
  background-color: gray;
  width: 70%;
  height: 2rem;
  margin-bottom: 1rem;
}

.board-toggle {
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
}

.clicked {
  background-color: coral;
}

/* .private .not-logged-in {
} */
