.toggle-wrapper {
  display: flex;
  width: 70%;
  max-width: 22rem;
  height: 2rem;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.private {
  max-width: 18rem;
}
.nav-link {
  display: flex;
  margin: 0.4rem;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 40%;
}

.nav-link:link,
.nav-link:visited {
  color: black;
  text-decoration: none;
}

.unselected {
  cursor: pointer;
}
