.content-wrapper {
  background-color: rgb(110, 110, 169);
  height: 80%;
  margin-bottom: 1rem;
  overflow-y: scroll;
  font-size: 0.1rem;
}

.content {
  line-height: 1.5rem;
  border-bottom: 1px solid gray;
  padding: 1rem 0;
}

.limit {
  overflow-y: hidden;
}

.hidden {
  display: none;
}

/* .button-backdrop {
  position: absolute;
  z-index: 998;
  background-color: rgba(248, 249, 250, 0.9);
  width: 100%;
  height: 13%;
  bottom: 0px;
} */

.show-all {
  position: absolute;
  z-index: 999;
  height: 2rem;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
