.confirm-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  background-color: rgb(121, 150, 89);
  height: 20%;
  padding: 0.5rem;
  align-items: center;
}

.user-wrapper {
  background-color: lavenderblush;
  max-width: 5rem;
  min-width: 5rem;
  height: 100%;
  text-align: center;
  margin: 0 0.8rem;
}

.user-profile {
  width: 100%;
  height: 67.5%;
}
