#waiting-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-y: scroll;
  border: 1px black solid;
  height: 100%;
  padding: 1rem;
}

.waiting-card {
  display: flex;
  background-color: lavenderblush;
  justify-content: space-between;
  height: 5rem;
  width: 40%;
  min-width: 14rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 5px;
}

.waiting-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.waiting-dummy-image {
  width: 60%;
  height: 100%;
  background-color: steelblue;
}

.waiting-button-wrapper {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.waiting-button-wrapper > button {
  width: 40%;
  height: 60%;
  text-align: center;
}
