{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  // "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "semi": ["error", "never"]
    // "eslint key-spacing": [
    //   "error",
    //   {
    //     "beforeColon": true,
    //     "afterColon": true
    //   }
    // ]
  }
}
