#board-wrapper {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem;
  padding: 2rem 1rem;
  height: 100%;
}

#board-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  max-width: 35rem;
  padding: 1rem;
  padding-top: 2rem;
  height: 38.2rem;
}
