#board-wrapper {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  background-color: lightblue;
  border: 1px solid black;
  align-items: center;
  margin: 0.4rem;
  padding: 2rem 1rem;
  /* max-height: 100vh; */
  /* justify-content: space-between; */
}

#board-list {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  width: 100%;
  border: 1px black solid;
  padding: 1rem;
  min-height: 38.2rem;
  max-height: 80vh;
  align-content: flex-start;
  /* justify-content: space-between; */
  /* 게시판 크기가 클 때 카드를 작게만들고 한 row당 2개 이상의 카드를 보여주려고 시도함 */
}
