.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.4rem;
    text-align: center; 
 }
 .h02{
     flex: 2 0 0;
 }
 .h08{
     flex: 8 0 0;
 }
 form{
     display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    width: 100%;
    margin: 0.4rem;
 }
 .h01{
     flex: 1 0 0;
     margin: 0.4rem;
 }
 .h02{
     flex: 2 0 0;
     margin: 0.4rem;
 }
 .h03{
     flex: 3 0 0;
     margin: 0.4rem;
 }

 .stacks{
     margin: 0.4rem;
 }
 .description{
     margin: 0.4rem;
 }
 .image{
     width: 100%;
 }

