* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
}
/* body {
margin: 0;
padding: 0;
} */
#container{
display: flex;
flex-direction: column;
min-height: 100vh;
background: whitesmoke;
padding: 0.4rem;
margin: 0.4rem;
flex-wrap: wrap;

}
.row {
border: 1px solid black;
padding: 0.4rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.title{
margin: 0.4rem;
border: 1px solid black;
flex: 1 0 0;
}
.content{
margin: 0.4rem;
border: 1px solid black;
flex: 1 0 0;
}


.col{
border: 1px solid black;
}
.h10{
flex: 1 0 0;
}
.h80{
flex: 8 0 0;
}
.w50{
flex: 1 0 0;
margin: 0.4rem;
}
.confirmed{
margin: 0.4rem;
border: 1px solid black;
flex: 1 0 0;


}
.button{
width: 100%;


}