#private-wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

#dream-button {
  position: absolute;
  width: 7rem;
  margin-bottom: 10px;
  top: 4px;
  right: 1rem;
  border: none;
  outline: none;
  background-color: rgb(91, 192, 222);
  box-shadow: 1px 1px 2px #cbced1, -1px -1px 2px white;
  padding: 0.3rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}
